*{margin: 0}

@font-face {
    font-family: OwnFont;
    src: url(EigenFont.ttf);
}

#Omhulsel{
	
	margin: 					auto;
	max-width:					960px;
	font-family: 				Trebuchet MS;
	
}

body{
	
	background-image:			url("img/background.jpeg");
	background-size:			cover;
	background-attachment:		fixed;
	background-repeat:    		no-repeat;
	
}

h1{
	
	background-image: 			url("img/companylogoBG.jpg");
		width: 					960px;
		height: 				200px;
	background-size:			cover;
	background-repeat:			no-repeat;
	background-position:		center;
	
	letter-spacing:				5px;
	font-family:				OwnFont;
	font-size: 					60px;
	text-align: 				center;
	line-height:				200px;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
	color: 						white;
	
}

a{
	
	text-decoration:			none;
	color:						white;
	
}

img{
	
	object-fit: 				cover;
	width:						960px;
	height:						400px;
	display:					block;
	
}

.navbar{
	
	background-color:			#5b5b5b;
		width:					960px;
		height:					25px;
	font-size:					20px;
	word-spacing:				25px;
	display:					block;
	
}

.TitleBG{
	
	background-color:			#007099;
		width:					960px;
		height:					125px;
	font-size:					50px;
	color:						white;
	display:					block;
	
}

.InfoBar{
	
	background-color:			#000000;
		width:					960px;
		height:					20px;
	font-size:					15px;
	color:						white;
	word-spacing:				5px;
	
}


